.text {
  overflow: hidden;
}

.text h3 {
  margin: 10px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  overflow: hidden;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 12s linear infinite;
  -webkit-animation: my-animation 12s linear infinite;
  animation: my-animation 12s linear infinite;
}

@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/* .anim {
  animation: slidein 3s;
}

@keyframes slidein {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.transition-entering {
  opacity: 0.01;
  transform: translate(0, -10px);
}
.transition-entered {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 500ms ease-in;
}
.transition-exiting {
  opacity: 1;
  transform: translate(0, 0);
}
.transition-exited {
  opacity: 0.01;
  transform: translate(0, 10px);
  transition: all 500ms ease-in;
} */
